
body,html {
    margin: 0;
	padding: 0;
}

body{
    font-size: 100%;
	font-family: 'Quicksand', sans-serif;
}

hr{
	height: 1em;
	border: none;
	background-color: white;
	margin: 0;
}

h1, h2, h3{
	font-weight: none;
	font-family: 'Montserrat', sans-serif;
}

h1{
    width: 4.7em;;
    color: black;
    margin: 2em;
    border-bottom: 0.2em solid #f26d00;
}

h2{
    color: black;
    margin: 2em 4em;
    border-left: 0.1em solid #f26d00;
    padding: 0 0.5em;
}

h3{
	color: #f26d00;
}

div{
	display: inline-block;
	width: 100%;
}
/*Top navigation menu*/


#topnav{
	position:fixed;
	padding-top: 10px;
    padding: 25px;
	text-align: right;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	width: 98%;
    top:0%;
    left: 0%;
    z-index: 1;
}

#logo{
    left: 15px;
    bottom: 0;
    position: absolute;
}

#topnav a:hover{
	background-color: white;
	color: black;
	border-radius: 5px;
}

#topnav a{
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 15px;
    padding-right: 15px;
}

/*home page*/

#homePage{
    background-image: url(images/homePageBackground.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	padding-top: 400px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
	background-attachment: fixed;
}
#presentation{
    text-align: center;
    color: white;
}
#presentation1{
    font-size: 180px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
#presentation2{
    font-size: 20px;
}

/* FEATURES CSS /*
/* Slideshow container */
.slideshow-container {
	position: relative;
	background: lightgray;
	height: 325px;
}

  /* Slides */
.Slides {
	display: none;
	text-align: center;
}

  /* Next & previous buttons */
.prev-slide, .next-slide {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: gray;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

  /* Position the "next button" to the right */
.next-slide {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev-slide:hover, .next-slide:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}

  /* The dot/bullet/indicator container */
.dot-container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background: gray;
}

  /* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

  /* Add a background color to the active dot/circle */
.active, .dot:hover {
	background-color: dimgray;
}

p.feat-desc {
	font-family: 'Quicksand', sans-serif;
	color: black;
}

h1.features-section{
	padding-bottom: 0px;
	padding-top: 0px;
}

h2.feat-title {
	color: #f26d00;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
	border-left: none;
}

/*Pricing*/

table, #pricing th, #pricing td{
	padding: 14px;
	border-collapse: collapse;
	text-align: center;
	width: 37%;
	}
	
	#premium{
		background-color: #f26d00;
	}
	#darkprem{
		background-color: #ff7a0d;
	}
	
	#pricing tr:nth-child(even){background-color: #f2f2f2;}
	
	#upgrade a{
		border: 1px solid #f26d00;
		  border-radius: 25px;
		  color: #f26d00;
		  font-weight: bold;
		font-size: 16px;
		  padding: 13px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		margin-left: 60px;
		font-family: "Arial", sans-serif;
	}
	#upgrade a:hover{
	  transition: all .25s ease;
	  color: white;
	  background-color: #f26d00;
	  box-shadow: 3px 3px 1px grey;
	}

/*About us*/

#aboutUs{
	background-image: url("images/road1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
	background-position: center center;
}

div.aboutus{
	text-align: center;
	padding: 0 0 7em 0;
}

a{
	text-decoration: none;
}

a.aboutus{
	background-color: lightgray;
	font-size: 1.5em;
	padding: 0.5em 1em;
	color: black;
	width: 5.5em;
}

a.aboutus:hover{
	background-color: #f26d00;
	color: white;
}

/*Contact us*/

#contactUs{
	background-image: url("images/city2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

form.contactus{
	padding: 0 5em 6em 5em;
	color: white;
}

input[type=text], select, textarea{
	width: 100%;
	padding: 1em;
	border: 1px, solid, grey;
	margin: 0.5em 0 1em 0;
	resize: vertical;
	font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

label{
	font-size: 1.5em;
}

input[type=submit]{
	padding: 0.5em 1em;
	font-size: 1.2em;
	background-color: #f26d00;
	color: white;
	border: none;
}

input[type=submit]:hover{
	background-color: grey;
	cursor: pointer;
}

span.important{
	color: #f26d00;
}

p.aboutus{
	color: white;
	text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
}

