table, th, td{
	padding: 15px;
	border-collapse: collapse;
	text-align: center;
	width: 35%;
}
.font{
	font-family: Montserrat, sans-serif;
}
.premium{
	background-color: #ebc614;
}
.prem{
	background-color: #eecf39;
}

tr:nth-child(even){background-color: #f2f2f2;
