html{
	scroll-behavior: smooth;
}

body{
    font-size: 100%;
	font-family: 'Quicksand', sans-serif;
	margin: 0
}

* {
  box-sizing: border-box;
}

hr{
	height: 1em;
	border: none;
	background-color: white;
	margin: 0;
}

h1, h2, h3{
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}

h1{
    width: 4.7em;;
	color: black;
	padding-top: 3.25em;
	margin: 2em;
	margin-top: 0;
    border-bottom: 0.2em solid #f26d00;
}

h2{
    color: black;
    margin: 2em 4em;
    border-left: 0.1em solid #f26d00;
    padding: 0 0.5em;
}

h3{
	color: #f26d00;
}

/*Top navigation menu*/


#topnav{
	position:fixed;
	padding-top: 1em;
    padding: 1.9em;
	text-align: right;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
	top: 0;
}

#logo{
    left: 1em;
    bottom: 0;
    position: absolute;
}

#topnav a:hover{
	background-color: white;
	color: black;
	border-radius: 5px;
}

#topnav a{
  text-align: right;
  text-decoration: none;
  color: white;
  font-size: 1.75em;
	padding: 1em;
	transition: all 0.5s;
}

#topnav a.logo:hover{
	background-color: initial;
}

#dropdown{
  display: none;
}

@media screen and (max-width: 830px){
	#logo{
		width: 5em;
		height: auto;
	}

	#topnav a{
		font-size: 1.25em;
  }
}

@media screen and (max-width: 620px){
	#topnav{
    display: none;
  }

  #dropdown{
    display:block;
    top:0;
    position:fixed;
    padding-top: 1em;
    padding: 1.9em;
    z-index: 1;
    width: 99.5%;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));

  }

  #myLinks{
    display: none;
  }

  a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 1.4em; 
  }
  
  a.logo #logo{
    position: absolute;
    top: 0;
    margin-top: -0.5em;
  }

  #myLinks{
    list-style-type: none;
    padding-left: 1em;
    margin-bottom: 0;
  }

  #myLinks li{
    padding: 0.25em 0;
    color: white;
  }

  #myLinks li:hover{
    background-color: white;
    color: black;
  }

  #myLinks a{
    color: inherit;
    display: block;
  }

}

/*home page*/

#homePage{
    background-image: url(images/hpbackground.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
    width: 100%;
	background-attachment: fixed;
	position: relative;
}

#presentation{
    text-align: center;
	color: white;
	display: inline-block;
	width: 80%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}
#presentation1{
	font-size: 10em;
	margin: 0;
	font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
#presentation2{
    font-size: 1.2em;
}

i.arrow {
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 0 0.35em 0.35em 0;
    display: inline-block;
    padding: 1em;
  }
  
  i.arrow:hover{
      border: solid rgba(0, 0, 0, 0.9);
      border-width: 0 0.35em 0.35em 0;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #animation{
      position: absolute;
      width: 100%;
	  height: 5em;
	  bottom: 0;
  }

@media screen and (max-width: 550px){
	#presentation1{
		font-size: 5em;
	}

	#presentation3{
		width: 12em;
		height: auto;
	}
}

@media screen and (max-height: 660px){
	#presentation1{
		font-size: 3em;
	}

	#presentation2{
		font-size: 1em;
	}

	#presentation3{
		width: 6em;
		height: auto;
	}

	i.arrow{
		padding: 0.5em;
		border-width: 0 0.35em 0.35em 0;
	}

	i.arrow:hover{
		padding: 0.5em;
		border-width: 0 0.35em 0.35em 0;
	}
}

/* FEATURES CSS /*
/* Slideshow container */
.slideshow-container {
	position: relative;
	background: lightgray;
  height: 20em;
  border-radius: 0 0 20px 20px;
}

  /* Slides */
.Slides {
	display: none;
	text-align: center;
}

  /* Next & previous buttons */
.prev-slide, .next-slide {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.9em;
	padding: 1em;
	color: gray;
	font-weight: bold;
	font-size: 1.25em;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

  /* Position the "next button" to the right */
.next-slide {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev-slide:hover, .next-slide:hover {
  background-color: gray;
  color: white;
}

  /* The title container */
.title-container {
	text-align: center;
	background-color: gray;
	height: 1.5em;
	padding-top: 1.2em;
  padding-bottom: 1.2em;
  height: 6em;
  border-radius: 20px 20px 0 0;
}

  /* The titles */
.title {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding: 0.5em;
  padding-bottom: 0em ;
	margin: 0 0.05em;
	display: inline-block;
	border-bottom: 0.2em solid transparent;
  transition: border-bottom .5s, color .5s, font-weight .5s;
  color: lightgray;
}

.title:hover{
	border-bottom: 0.2em solid #f26d00;
	color: white;
}

.active {
	border-bottom: 0.2em solid #f26d00;
  color: white;
  font-weight: bold;
}

h2.feat-title {
  color: #f26d00;
  font-size: 2em;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
  border-left: none;
  margin: 0.8em
}

ul.ride-type {
	list-style-type: none;
}

.features-background {
  background-color: white;
  padding-bottom: 3.25em;
}

ul {
  font-size: 1.5em;
}

.feat-desc {
  padding: 0 4em;
  font-size: 1.5em;
}
.feat-desc-small {
  padding: 0 3em;
  font-size: 1em;
}

@media screen and (max-width: 1025px){
	h2.feat-title{
		font-size: 1.5em;
	}
	
	ul.ride-type{
		font-size:  1.25em;
	}
}

@media screen and (max-width: 770px){
	.title{
		font-size: 1.5em;
	}

	h2.feat-title{
		font-size: 1.5em;
	}

	p.feat-desc{
		font-size: 1.25em;
	}

	ul.ride-type{
		font-size: 1.25em;
	}
}

@media screen and (max-width: 550px){
	.title{
		font-size: 1em;
	}

	.title-container{
		height: 4.5em;
	}
	
	p.feat-desc{
		padding: 0 4.5em;
		font-size: 1em;
	}

	ul.ride-type{
		font-size: 1em;
	}
}

@media screen and (max-width: 365px){
	p.feat-desc{
		padding: 0 3em;
	}
}

/*Stats page*/

#statspage{
	background-image: url(images/citypic.jpeg);
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#numheading{
	width: 9.9em;
	color: white;
}

/*stats boxes*/
  
  .rowStatsBoxes {margin: 0 -0.3em;}
  
  /* Clear floats after the columns */
  .rowStatsBoxes:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Float four columns side by side */
  .columnStatsBoxes {
    float: left;
    margin-left: 2em;
    width: 22%;
    padding: 0 0.3em;
	transition: all 0.25s;
  }

  .columnStatsBoxes:hover{
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
  
  /* Responsive columns */
  @media screen and (max-width: 1070px) {
    .columnStatsBoxes {
      width: 40%;
      margin-bottom: 0.6em;
    }
  } 
 
  @media screen and (max-width: 600px) {
    .columnStatsBoxes {
	  width: 85%;
	  margin-left: 7.5%;
	  clear: both;
    }
  }
  
  /* Style the counter cards */
  .statscard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    border: 2px solid #ccc;
    padding: 1em;
    text-align: justify;
    background-color: #eee;
    color: black;
    margin-bottom: 2em;
  }

  #icons {
    color: #f26d00;
  }

  #ratingsBreak{
	  border:3px solid #f26d00;
  }

  .containerUserRatings{
    border: 2px solid #ccc;
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 2%;
    margin-bottom: 1em;
    float: none;
    width: 94%;
	padding: 0.75em;
  }
  
  .headingUserRatings {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
	margin-right: 1.5em;
	float: left;
  }

  @media screen and (max-width: 390px){
	  .headingUserRatings{
		  float: none;
	  }
  }
  
  .fa {
    font-size: 1.5em;
  }
  
  .checked {
    color: #f26d00;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 0.6em;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 0.6em;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: left;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 { width: 60%; height: 1.13em; background-color: #f26d00;}
  .bar-4 {width: 30%; height: 1.13em; background-color: grey;}
  .bar-3 {width: 8%; height: 1.13em; background-color: #f26d00;}
  .bar-2 {width: 4%; height: 1.13em; background-color: grey;}
  .bar-1 {width: 12%; height: 1.13em; background-color: #f26d00;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 770px) {
	.containerUserRatings{
		width: 85%;
		margin-left: 7.5%;
	}

    div.side, div.middle {
	    width: 100%;
	    float: none;
    }
    /* Hide the right column on small screens */
    div.right {
      display: none;
    }
  }

#wordsheading{
	width: 8.4em;
	color: white;
	margin-top: 0;
	padding-top: 1.5em;
}

.reviews{
	overflow: auto;
}

.containerReviews {
    border: 2px solid #ccc;
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 4%;
	margin-bottom: 1em;
	margin-top: 1em;
    float: left;
    width: 28%;
	padding: 1em;
	padding-bottom: 2em;
	transition: all 0.25s;
  }

  .containerReviews:hover{
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
  
.containerReviews img {
    float: left;
    margin-right: 1.2em;
    border-radius: 50%;
  }
  
.containerReviews span {
    font-size: 1.25em;
    margin-right: 0.75em;
  }
  
@media screen and (max-width: 770px){
	.containerReviews{
		width: 41.5%;
		margin-left: 5%;
	}

	.morepadding{
		margin-bottom: 5em;
	}
}

@media screen and (max-width: 770px){
	.containerReviews{
		width: 90%;
		margin-left: 5%;
	}

	.morepadding{
		margin-bottom: 2em;
	}
}


/*Pricing*/

table, #pricing th, #pricing td{
	padding: 0.9em;
	border-collapse: collapse;
	text-align: center;
	}

	table{
		max-width: 90%;
		margin-left: 5%;
	}

	#pricing th, #pricing td{
		width: 37%;
	}
	
	#premium{
		background-color: #f26d00;
	}
	#darkprem{
		background-color: #ff7a0d;
	}
	
	#pricing tr:nth-child(even){background-color: #f2f2f2;}
	
	#upgrade a{
		border: 1px solid #f26d00;
		  border-radius: 25px;
		  color: #f26d00;
		  font-weight: bold;
		font-size: 1em;
		  padding: 0.8em 1.6em;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		margin-left: 4em;
		font-family: "Arial", sans-serif;
	}
	#upgrade a:hover{
	  transition: all .25s ease;
	  color: white;
	  background-color: #f26d00;
	  box-shadow: 3px 3px 1px grey;
	}

/*About us*/

#aboutUs{
	background-image: url("images/road1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
	background-position: center center;
}

h1.about{
	color: white;
	width: 7.5em;
}

div.aboutus{
	text-align: center;
	padding: 0 0 7em 0;
}

a{
	text-decoration: none;
}

a.aboutus{
	border: 1px solid #f26d00;
	  border-radius: 25px;
	  color: #f26d00;
	  font-weight: bold;
	font-size: 1em;
	  padding: 0.8em 1.6em;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	font-family: "Arial", sans-serif;
	background-color: white;
}

a.aboutus:hover{
	transition: all .25s ease;
	color: white;
	background-color: #f26d00;
	box-shadow: 3px 3px 1px grey;
}

/*Contact us*/

h1.contact{
	color: white;
	width: 5.5em;
}

#contactUs{
	background-image: url("images/city2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

form.contactus{
	padding: 0 5em 6em 5em;
	color: white;
}

input[type=text], select, textarea{
	width: 100%;
	padding: 1em;
	border: 1px, solid, grey;
	margin: 0.5em 0 1em 0;
	resize: vertical;
	font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

label{
	font-size: 1.5em;
}

input[type=submit]{
	border: 1px solid #f26d00;
	  border-radius: 15px;
	  color: #f26d00;
	  font-weight: bold;
	font-size: 1em;
	  padding: 0.8em 1.6em;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	margin-left: 4em;
	font-family: "Arial", sans-serif;
	background-color: white;
}

input[type=submit]:hover{
	transition: all .25s ease;
	color: white;
	background-color: #f26d00;
	box-shadow: 3px 3px 1px grey;
	cursor: pointer;
}

span.important{
	color: #f26d00;
}

p.aboutus{
	color: white;
	text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
}

@media screen and (max-width: 450px){
	form.contactus{
		padding: 0 2em 3em 2em;
	}
}



@media screen and (max-device-width: 770px){
	#homepage{
		background-attachment: initial;
	}

	#statspage{
		background-attachment: initial;
	}

	#aboutUs{
		background-attachment: initial;
	}

	#contactUs{
		background-attachment: initial;
	}
}


@media screen and (max-width: 450px){
	h1{
		font-size: 1.5em;
		padding-top: 3em;
		margin-left: 1em;
	}

	#numbers{
		background-color: white;
		overflow: auto;
	}
	
	#words{
	background-color: white;
	}

	#aboutUs{
		background-color: white;
		background-image: none;
	}

	div.aboutUs{
		padding-bottom: 0;
	}

	#contactUs{
		background-color: white;
		background-image: none;
	}

	input[type="text"], textarea{
		background-color: lightgray;
	}

	input[type="submit"]{
		margin: 0;
	}

	p.aboutUs{
		text-shadow: none;
	}

	#numheading, #wordsheading, h1.about, h1.contact, label, p.aboutUs{
		color: black;
	}

}