body{
    background-image: url(images/city1.jpg);
    background-position:  center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #f26d00;
}

h1{
    width: 4.7em;;
    color: black;
    margin: 2em;
    border-bottom: 0.2em solid #f26d00;
}

#topnav{
	position:fixed;
	padding-top: 1em;
    padding: 1.9em;
	text-align: right;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	width: 100%;
	box-sizing: border-box;
    z-index: 1;
    top:0;
}

#logo{
    left: 1em;
    bottom: 0;
    position: absolute;
}

#topnav a:hover{
	background-color: white;
	color: black;
	border-radius: 5px;
}

#topnav a{
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 1.75em;
    padding: 1em;
}

@media screen and (max-width: 770px){
	#logo{
		width: 5em;
		height: auto;
	}

	#topnav a{
		font-size: 1.25em;
	}
}

@media screen and (max-width: 590px){
	#logo{
		display: none;
	}

	#topnav a{
		font-size: 1em;
		padding: 0.5em;
	}
}

@media screen and (max-width: 350px){
	#topnav a{
		padding: 0.25em;
	}
}

p.unus{
    margin: 0 6em;
    font-size: 1.2em;
}

h2{
    color: black;
    margin: 2em 4em;
    border-left: 0.1em solid #f26d00;
    padding: 0 0.5em;
}

img{
    width: 10em;
    border-radius: 50%;
}

div.person{
    background-color: white;
    margin: 2em 4em 4em 4em;
    padding: 2em;
    border-radius: 5px;
    overflow: auto;
}

div.float{
    float: left;
}

div.description{
    padding-left: 10em;
    font-size: 1.2em;
}

span.specialty{
    background-color: lightgray;
    color: gray;
    padding: 0 0.5em;
    border-radius: 10px;
}

span.specialty:hover{
    color: #f26d00;
}